html, body, #root {
    overflow-y: hidden;
    scrollbar-width: none;
  }

/* Ensure the app layout stays fixed */
.appcontainer {
  display: flex;
  height: 100vh; /* Full screen height */
}

/* Sidebar Styling */
.sidebar {
  width: 80px; /* Adjust width as needed */
  min-width: 80px;
  background-color: #111b21;
  height: 100vh;
  overflow: hidden;
}