.headerContainer {
    background-color: #111b21;
    /* padding: 10px; */
    border-bottom: 1px solid #2a3942;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 10px;
  }
  
  .icons {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #00a884;
  }
  
  /* Search Bar */
  .searchBar {
    display: flex;
    align-items: center;
    background-color: #1b262e;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .searchIcon {
    color: #b1b3b5;
    font-size: 14px;
  }
  
  .searchInput {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 10px;
    width: 100%;
  }
  
  /* Filter Tabs */
  .filterTabs {
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  
  .filterTabs button {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    color: #b1b3b5;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .filterTabs button:hover {
    background-color: #2a3942;
  }
  
  .activeTab {
    background-color: #00a884 !important;
    color: white !important;
  }
  